<template name="Header">

    <header>
        <button id="logo"><a href="/"><img src="/tablelogo.png"></a></button>
        <div if="first">
        {{#if currentUser}}
            	<button class="logout">Logout</button>
            {{else}}
            	<button class="login-toggle">Login/Sign-up</button>
        	{{/if}}
        </div>
        <menu>
		</menu>
    </header>
</template>
