<template name="SideNav">
    <nav class="side-nav">
        <ul>
            <li>
                <a href="/tables"><i class="fa fa-list"></i> List of Tables</a>
            </li>
            <li>
                <a href="/cashier"><i class="fa fa-money"></i> Cashier</a>
            </li>
                        <li>
                <a href="/cashier"><i class="fa fa-university"></i> Partner Program</a>
            </li>
            <li>
                <a href="/cashier"><i class="fa fa-support"></i> Chat</a>
            </li>

        </ul>
    </nav>
</template>
