<template name="Chat">
                <div id="chatbox">
                	<ul id="navchat">
                		<li id="showchat">chat</li><li id="showlog">log</li>
                	</ul>
                	<div id="chat">
                        <div id="messages">
                        {{#each chats}}
                	<div id="msg"><b>{{username}}</b>:{{text}}</div>
                        {{/each}}
                        </div>
                	<form name="chat" id="chatinput">
                		<input name="text" type="text">
                		<button id="chatsub">send</button>
                	</form></div>
                	<div id="log" style="display:none">Nothing happened</div>
                </div>
</template>