<template name="HomeLayout">
    <head>
    <style type="text/css">

     </style>

</head>



<body><div id="bg">
<div id="loginform"  style="display:none"><a id="close">X</a>
{{> atForm}}</div>
{{#if currentUser}}
<div id="loginbutton" class="logout"><img src="/cashierbutton.svg"></div>
<div id="registerbutton" class="golobby"><a href="/tables"><img src="/lobbybutton.svg"></a></div>   
{{else}}
<div id="loginbutton" class="login-toggle"><img src="/loginbutton.svg"></div>
<div id="registerbutton" class="login-toggle"><img src="/register.svg"></div>
{{/if}}<div id="homescreen"><img src="/logoscreen.png"></div>
<div id="logoscreen"><img src="/luxgirl.png"></div>
<div id="header">
    <div id="homenav">
        <ul id ="left">
            <li id="multiplatform"><span>play instant on every device</span></li>
            
        </ul>
        <ul id ="right">
        <li id="school">poker school</li>
            <li id="multiplatform">Bonuses</li>
            <li id="school">Partner program</li></ul>
    </div>
    <div id="mcoin"><img src="/coin.png"></div></div>
<script type="text/javascript">
    $("#loginbutton").click( function () {
        if ($("#loginform").is(":hidden")) {
            $("#loginform").slideDown("slow")
        } else {
            $("#loginform").slideUp("slow")
        }
    })
    $("#loginform a#close").click( function () {
        $("#loginform").slideUp("slow")
    })
</script>
</div>
</body>
</template>
