// Grid
$xsmall = 340px
$small = 500px
$med = 700px
$large = 960px
$wide = 1200px

// Colors
black = #222
grey = #D8D8D8
light-grey = #EEE
purp = #524763
dark-purp = #373142
red = #E54B4B
teal = #82D8D8
dark-teal = #66A6A6
green = #CBE56C
blue = #16528E
bright-blue = #0082C8
maroon = #6A2140
light-red = #CA5765
pink = #CF256D
orange = #E8846B

#bg
    background url("/home.jpg") no-repeat center center fixed
    -webkit-background-size cover
    -moz-background-size cover
    -o-background-size cover
    background-size cover
    width 100vw
    height 100vh
#header 
    position absolute
    right 0
    bottom 0
    z-index 4
    width 100%
    height 200px
    background purp
    #mcoin 
        position absolute
        left 0
        right 0
        margin-left auto
        margin-right auto
        height 100%
        img 
            position absolute
            left 0
            right 0
            margin-left auto
            margin-right auto
            max-height 100%    
    #homenav 
        position absolute
        width 100%
        bottom 15%
        padding-top 0
        right 0
        height 70%
        background-color rgba(255,255,255,0.5)
        ul#left
            position absolute
            margin-top 0
            padding-top 0
            height 100%
            float left
            width 50%
            list-style none
            li
                padding-top 50px
                height 100%
                //width 30%
                float left
                display inline
                text-transform uppercase
                color yellow
                margin-left 20px
                font-size 1.5vw

        ul#right
            margin-top 50px
            list-style none
            float right
            width 50%
            li
                font-size 1.5vw
                float right
                margin-left 20px
                display inline
                text-transform uppercase
                color yellow
#loginform 
    z-index 8
    position fixed
    margin 0 auto
    color white
    top 0
    left 0
    right 0
    height 25vh
    width 50vh
    background url("/loginform.svg") no-repeat top left
    -webkit-background-size cover
    -moz-background-size cover
    -o-background-size cover
    background-size cover


button .logout {
        z-index: 100;
        position: absolute;
        left: 0;
    }
    html{
        padding: 0;
        margin: 0;

    }
    body  {
        padding: 0;
        margin: 0;
        
    }

#loginform a {
    float: right;
    margin-right: 5vh;
    cursor: pointer;
    color: white;
    text-decoration: none;
}
#loginform h3 {
    margin: 0;
    text-align: center;
}
    #loginform input{
        width: 35vh;
        padding: 3px;
        font-size: 1vh;

    }
    #loginform button {
        margin-top: 2vh;
        background-color: white;
        width: 50%;
        margin-left: 20%;
        height: 5vh;
        font-size: 3vh
    }

    #homescreen{

        position: absolute;
        padding: 0;
        margin: 0;
        bottom: 0;
        height: 100vh;
        width: 50vw;

    }
    #homescreen img {
        position: absolute;
        bottom: 80px;
        float: left;
        max-width: 100%;
        max-height: 100vh;
    }
    #logoscreen {
        position: absolute;
        padding: 0;
        margin: 0;
        bottom: 0;
        right: 0;
        height: 100vh;
        width: 50vw;

}
    #logoscreen img {
        position: absolute;
        bottom: 80px;
        float: right;
        max-width: 100%;
        max-height: 100vh;

    }
    #loginbutton{
        z-index: 7;

        padding: 0;
        margin: 0;
        top: 0;
        right: 0;
        width: 12vw;
        position: fixed;
    }

    #loginbutton img {
        right: 0;
        width: 100%;
        float: right;
    }

    #registerbutton{
        z-index: 6;

        padding: 0;
        margin: 0;
        top: 0;
        right: 0;
        width: 12vw;
        position: fixed;
    }

    #registerbutton img {
        width: 100%;
        float: right;
    }
        #loginbutton a {
        color: white;
        font-weight: bold;
        float: right;
        font-style: none;
        text-decoration: none;
    }


     @media (max-width: 480px){
        #homenav {
            width: 100%;
            background: white;
            opacity: 0.5
        }
        #girl {
            width: 100%;
     }
 }