<template name="MainLayout">
<style>body {padding: 70px 0 150px }</style>
    {{> Header}}
    {{> Header}}
    {{> SideNav}}
    <main class="main-layout">
        {{> Template.dynamic template=main}}
    </main>
</template>
