<template name="MovePanel">



        <style type="text/css">
        #movepanel #timerbox { position: absolute; width: 90%; background-color: #524763;height: 15%;}
        #movepanel #time { position: absolute; width: 0%; background-color: #82d8d8; height: 90%;}
        #movepanel #movebuttons { position: absolute; top: 15%; width: 100%; height: 30%; display: inline-block;}
        #movepanel #movebuttons button {width: 30%; float: left}
        #movepanel #movebuttons button#allin {width: 60%; float: left}
        #movepanel #betbox { position: absolute; top: 40%; width: 100%}
        #movepanel #betbox #custombet {width: 90%; display: inline-block; margin-bottom: 0}
        #movepanel #betbox #custombet input { float: left; height: 100%; margin-bottom: 0}
        #movepanel #betbox #range {width: 80%; float; left}
        #movepanel #betbox #betnum {width: 20%; right: 0;}
        #movepanel #betbox #stepbox {width: 100%; display: inline-block; top: 0;}
         #movepanel #betbox #stepbox button {width: 30%; height: 3vh; float: left; padding: 0; font-size: 0.5em;}
         button#fold {background-color: #E54B4B}
         button#bet {background-color: #CBE56C}
         button#call, button#check {background-color: #82D8D8; display: inline-block;};
         button#call {padding-left: 0; }
                </style>
                <div id="movepanel">
                        <script type="text/javascript">
                        $(document).ready( function () {$("#time").animate({width: "100%"}, 30000)})
</script>
                	<div id="timerbox"><div id="time"></div></div>
                        <div id="betbox">
                                <div id="custombet">
                                <form id="kokoko">
                                        <input id="range" type="range" min="{{min}}" max="{{PlayerMoney}}" step="1" value={{min}}>
                                        <input name="bet" id="betnum" type="Number" min="{{min}}" max="{{PlayerMoney}}" value={{min}}>
                                        </form>
                                        
                                </div>
                                <div id="stepbox">
                                        <button id="twobet">2BB</button>
                                        <button id="threebet">4BB</button>
                                        <button id="fourbet">3BET</button>
                                </div>
                        </div>
                        <div id="movebuttons">
                        {{#if allInOnly}}
                                <button id="allin">AllIn {{PlayerMoney}}</button>
                        {{else}}
                                                {{#if tocall}}
                                <button id="call">CALL {{tocall}}</button>
                        {{else}}
                                <button id="check">CHECK</button>
                        {{/if}}
                                <button id="bet" type="submit">BET</button>
                        {{/if}}

                                <button id="fold">FOLD</button>
                        </div>
                
                </div>

        <script type="text/javascript">

        $("#range").change( function() {$("#betnum").val($("#range").val());  $("#bet").html('BET' + $("#betnum").val())})
        $("#betnum").change( function() {$("#range").val($("#betnum").val());  $("#bet").html('BET' + $("#betnum").val())})
        $("#twobet").click( function () {




                var bet = {{blind}}*2; $("#betnum").val(bet); $("#bet").html('BET ' + $("#betnum").val())})
        $("#threebet").click( function () {


                var bet = {{blind}}*4; $("#betnum").val(bet); $("#bet").html('BET ' + $("#betnum").val())})
        $("#fourbet").click( function () {



                var bet = {{tocall}}*3; $("#betnum").val(bet); $("#bet").html('BET ' + $("#betnum").val())})

        </script>
</template>