<template name="Sit">
<style>
    
    #money, #name {
        font-size: 6px;
    }
</style>
<div class="add" id="adduser" style="display:none"><button id="close">CLOSE</button><p style="color:white" align="center"></p><form id="sitdown"> <input type="Number" name="money"><button id="Submit" type="Submit">OK</button></form></div>

    {{#if sitplace}}

        <div id="player{{sitplace}}"> 
            {{#if bet}}
                <div id="bet{{sitplace}}" class="bet">{{bet}}</div>
            {{/if}}
        
            <div id="sit{{sitplace}}" class="sit">
            
            {{#if isTaken}}
                {{#if inplay}}
                <div id="handcards">
                        {{#if $eq user currentUser._id}}
                        {{#each cards}}
                                <div id="card1"> <img src="/cards/{{this}}.svg"></div>
                        {{/each}}
                        {{else}}
                                <div id="hiddencard"></div>
                                <div id="hiddencard"></div>
                        {{/if}}
                </div>
                {{/if}}
                <div id="avatar">{{#if avatar}}<img src="/avatar/">{{else}}<img src="/avatar/bear.png">{{/if}}</div>

                {{#if money}}
                    <div id="money"><p align="center"  style="margin: 0; padding: 0">{{money}}</p></div>
                {{/if}}
                <div id="name"><p align="center"  style="margin: 0; padding: 0">                 
                {{nick}}{{#if $eq sitplace dealer}}<div id="dealer">Dealer</div>{{/if}}</p>
            </div>
            {{else}}
            <div id="empty" class="addbutton sit"><div class="emptysit"></div></div>
            {{/if}}
        </div>
        
            
        
        </div>
        
    {{/if}}

</template>