<template name="Table6sLayout"> 

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
    <style type="text/css">

body {
    padding-top: 0;
    background: url('/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-opacity: 0.5;
}
#makeActive {float:right}
    </style>
</head>



    
<body>    <div id="gameheader"><button id='tablename'><h3>{{tables.name}}</h3></button>

<button class="addmoneybutton">Addchips</button><button class="navg">Previos Hand</button><button id="restart">Restart</button><button class="navg" id="standup">Stand Up</button><a href="/tables">Tables</a></div>
<div class="add" id="addmoney" style="display:none"><button id="closeaddmoney">CLOSE</button><p style="color:white" align="center"></p><form id="addmoneyform"> <input type="Number" name="count"><button id="Submit" type="Submit">OK</button></form></div>
    <div class="tbody">
        
        <div class="bodydiv">
            <div id="playtable">


            <div id="ttcards">{{#if tables.bank}}<div id="bank"><p>Bank {{tables.bank}}</p></div>{{/if}}
            {{#if tables.round}}
                {{#each tables.tablecards}}
                <img src="/cards/{{this}}.svg">
                {{/each}}
            {{/if}}
            </div>
            
                {{#each sits}}
                    {{> Sit}}
                {{/each}}
            </div>
            </div>
            <div id="bottompanel">
                {{> Chat}}

            {{#if active}}
            {{#if playermove}}
                {{> MovePanel}}
            {{/if}}
            {{else}}
                <button id="makeActive">Go to the game</button>
            {{/if}}
            </div>
        </div>
        

</body>
<footer></footer>
</template>