<template name="TablesList">
<style type="text/css">

table {
	border-radius: 20px;
	background-color: #524763;
	width: 100%;
	color: white;
	
}
table tr td a {
	text-decoration: none;
	color: yellow;
	font-weight: bold;
}
	tr#head {
		width: 90%;
		
	}
	tr#head th {
		margin-left: 2%;
		padding: 10px;
		}
	td {
		margin-left: 2%;
		padding: 10px;
		}
	tr.tab#id1 {
		color: #524763;
		background-color: #82d8d8;
		width: 100%;
		}
	</style>
	{{#if admin}}
		<div id="addTable"> {{> quickForm collection="Tables" type="insert" id="insertTableForm" type="insert"}}</div>
	{{/if}}
		<table>
			<tr id="head">
				<th><b>Table Name</b></th>
				<th>Players</th><th>Blinds</th><th>Min Buy-in</th><th>Max Buy-in</th>
			</tr>
			{{#each tables}}
	            	{{> Table}}
	        {{/each}}
        </table>
</template>
