.tbody 
    position relative
    margin auto
    width 120vh
    padding-top 80px
    height 100vh
    left 0
    right 0
    opacity 0.8

.bodydiv 
    width 100%
    height 70%
    margin auto
    position relative
    left 0
    right 0

#playtable 
    width 90%
    height 100%
    background url('/tablelogo.png') no-repeat center center
    background-size 30%
    background-color black
    border-radius 50%
    margin 0 auto
    -moz-box-shadow    inset 0 0 10px #ffffff
    -webkit-box-shadow inset 0 0 10px #ffffff
    box-shadow         inset 0 0 10px #ffffff

#ttcards 
    z-index 10
    position absolute
    top 25vh
    height 15vh
    width 37%
    margin-left 27%
    img 
        max-height 100%
        margin-left 0.5%
        float left
        width 19%

#player1 
    width 32%
    height 50%
    max-height 45vh
    margin 0.5%
    float left

#bank 
    background-color #524763
    opacity 0.5
    border-radius 30%
    margin 0 auto
    padding 0
   
#bank p 
    margin 0
    text-align center
    font-size 2vh
    font-weight bold
    color white
    text-shadow 1px 1px 2px yellow

#player2 {
    width:32%;
    height:50%;
    max-height: 45vh;
    margin:0.5%;
    float:left;
}
#player3 {
    width:32%;
    height:50%;
    max-height: 45vh;
    margin:0.5%;
    float:left;
}

#player4 {
    width:32%;
    height:50%;
    max-height: 45vh;
    margin:0.5%;
    float:right;
}
#player5 {
    width:32%;
    height:50%;
    max-height: 45vh;
    margin:0.5%;
    float:right;
}
#player6 {
    width:32%;
    height:50%;
    max-height: 45vh;
    margin:0.5%;
    float:right;
}
#sit1 
    width 50%;
    height 50%
#dealer{
    position: relative;
    bottom: 0;
    color: white;
}

#empty:hover {
    -moz-box-shadow:    inset 0 0 10px #ffffff;
    -webkit-box-shadow: inset 0 0 10px #ffffff;
    box-shadow:         inset 0 0 10px #ffffff;
}
#name {
    background-color: aqua;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    width: 100%;
    height: 17%;
    
}
#name p {
    font-size: 2vh;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 2px yellow, 0 0 1em yellow;
}
.bet {
    font-size: 2vh;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 2px yellow, 0 0 1em yellow;
}
#bet1 {
    position: absolute;
    margin-left: 20%;
    margin-top: 22%;
    
}
        #bet6 {
    position: absolute;
    margin-left: 20%;
    margin-top: 2%;
    
}
#bet3 {
    position: absolute;
    margin-left: 5%;
    margin-top: 22%;

    
}
        #bet4 {
    position: absolute;
    margin-left: 5%;
    margin-top: 2%;

    
}

        #bet2 {
    position: absolute;
    margin-left: 12%;
    margin-top: 17%;

    
}

        #bet5 {
    position: absolute;
    margin-left: 12%;
    margin-top: 7%;

    
}
#timeline {
    background-color: green;
    width: 100%;
    height: 20%;
}
#money {
    background-color: mediumturquoise;
    width: 100%;
    height: 16%;
    
}

#money p {
    color: white;
    font-size: 2vh;
    text-shadow: 1px 1px 2px yellow, 0 0 1em yellow;
}
#sithere {
    color: yellow;
    margin: 0 auto;
}
#avatar {
    width: 100%;
    height: 100%;

}
#avatar img {
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}
#empty 
    background-color #333
    background-size cover
    border-radius 5%
    height 100%
    width 100%
.emptysit
    background url("/empty.png")
    background-size cover
    border-radius 5%
    height 100%
    width 100%
.emptysit:hover 
    background url("/emptyhover.png")
    background-size cover

#sit2 
    width 50%
    height 50%
    top 0
    margin 0 auto
#sit3
    margin-top 10%
    float right
    width 50%
    height 50%
#sit6 
    margin-top 30%
    width 50%
    height 50%
#sit5
    margin 50% auto
    width 50%
    height 50%
#sit4
    margin-top 30%
    float right
    width 50%;
    height 50%


#tablecards {
    background-color: transparent;
    width: 90%;
    height: 10%;
    margin-top: 45%;
}
#handcards {

    width: 20%;
    height: 30%;
    position: absolute;
}
        #hiddencard {
    background: url('/cards/backside.jpg') no-repeat;
    background-size: contain;
    width: 36%;
    height: 74%;
    float: left;
    margin-right:1%;
    border-radius: 5%;
                -moz-box-shadow:    inset 0 0 3px #333;
    -webkit-box-shadow: inset 0 0 3px #333;
    box-shadow:         inset 0 0 3px #333;
}
#card1 {
    width: 36%;
    height: 74%;
    float: left;
    margin-right:1%;
    border-radius: 5%;
    -moz-box-shadow:    inset 0 0 3px #333;
    -webkit-box-shadow: inset 0 0 3px #333;
    box-shadow:         inset 0 0 3px #333;
}

#card2 {
    width: 36%;
    height: 74%;
    float: left;
    margin-right:1%;
    border-radius: 5%;
    -moz-box-shadow:    inset 0 0 3px #333;
    -webkit-box-shadow: inset 0 0 3px #333;
    box-shadow:         inset 0 0 3px #333;
}
.add {
    color: yellow;
    z-index: 20;
    position: absolute;
    background-color: #333333;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border: 4px double #524763;
     width: 30vw; /* 90% of viewport vidth */
    border-radius: 10px;
}
#close {
    margin: 0 auto;
}
#gameheader button.navg {
    float: right;
}
#gameheader button#tablename {
    float: left;
}
#chatbox{
    font-size: 3vh;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    position: absolute;
    width: 40%;
    height: 25%;
    bottom: 0;
    left: 0;
    background-color: white;
    float: left; 
}
#movepanel {
    float: right;
    font-size: 3vh;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    position: absolute;
    width: 58%;
    height: 25%;
    bottom: 0;
    right: 0;
}
#chatbox ul {
    width: 100%;
    display: inline;
    font-size: 3vh;
    height: 10%;
}
#bottompanel {
    width: 100%;
    height: 25%;
}
 #chatbox ul li {

    width: 30%;
    float: left;
    list-style: none;
    border-bottom: 2px solid black;
    cursor: pointer;
    font-size: 3vh;
 }

 #chatbox ul li#showlog {
    float: right;
 }
#chat{
    width: 90%;
    margin-left: 10%;
    font-size: 3vh;
}
#messages {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;

    height: 15vh;
    font-size: 2vh;
}
#msg {
    width: 100%;
}
#chatinput input {
    width: 70%;
    float: left;
    padding: 0;
    font-weight: normal;
    position: absolute;
    bottom: 0;
    left: 3%;
    font-size: 3vh;
}
#chatinput button#chatsub {
    width: 20%;
    float: right;
    padding: 0;
    font-weight: normal;
    position: absolute;
    bottom: 0;
    right: 4%;
    margin-bottom: 10px;
    font-size: 3vh;
}


rotatescreen() {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
