<template name="Table">

            	
            	<tr class="tab" id="id1"><td><a href="/tables/{{nos}}/{{name}}">{{name}}</a></td><td>{{nos}}</td><td>{{nos}}</td><td>{{nos}}</td><td>{{nos}}</td>
            		{{#if admin}} <a id="openEdit{{updateTableId}}">Edit</a>
            	<div id="edit{{updateTableId}}" style="display:none"><a id="closeEdit{{updateTableId}}">CLOSE</a><a id="removeTable">Delete</a>{{> quickForm collection="Tables" type="update" id=updateTableId type="update" doc=this}}
            	</div>
            	<script type="text/javascript">$("#openEdit{{updateTableId}}").click( function() { $("#edit{{updateTableId}}").show()});$("#closeEdit{{updateTableId}}").click( function() { $("#edit{{updateTableId}}").hide()});</script>{{/if}}</tr>
<script type="text/javascript"></script>
</template>